<!DOCTYPE html>


<html>

<head>

</head>

<body>
    <!--15/6/2020-->
<ol start="9">
<li>meshal</li>
<li>ali</li>
<li>meshal</li>
<li>ali</li>
<li>meshal</li>
<li>ali</li>
</ol>

<!--16/6/2020-->
<table style="width: 500px;" border="2">

<tr>
    <td>


        <caption>This is my <strong>table</strong></caption>
        <table border="1" bordercolor="blue" style="width: 300px; background-image: url(edu/edx.png);" bgcolor="gray" cellpadding="6" cellspacing="5">
        <tr>
        
            <th rowspan="2">Name</th>
            <th>Age</th>
            
        
        </tr>
        
        <tr >
        
            
            <td>23</td>
        
        </tr>
        
        
        <tr>
        
            <td>Ali</td>
            <td>19</td>
        
        </tr>
        
        </table>









    </td>

</tr>

</table>




</body>

</html>